<h2 mat-dialog-title>Poeta {{data.name}}</h2>
<mat-dialog-content class="mat-typography">
  <mat-card>
    <mat-card-content class="six">
      <div class="col-md-7">
        <mat-card-subtitle>Poemas</mat-card-subtitle>
        <ul>
          <li *ngFor="let obra of obras" (click)="buscarPoema(obra.title)">
            {{obra.title}}
          </li>
        </ul>
      </div>
      <div class="col-md-5">
        <div *ngIf="obraS; else poema">
          <mat-card-subtitle>Poema {{obraS | json}}</mat-card-subtitle>
          <p *ngFor="let line of poemaContent">
            {{line | json}}
          </p>
        </div>
        <ng-template #poema>
          <p>Seleccione un Poema</p>
        </ng-template>
        
      </div>
    </mat-card-content>
  </mat-card>  
</mat-dialog-content>

<mat-dialog-actions align="end">
  
  <button 
    mat-stroked-button 
    color="primary"
    [mat-dialog-close]="'prueba'" 
    cdkFocusInitial>Agregar a Favoritos
  </button>
  <button 
    mat-raised-button
    mat-dialog-close
    (click)="onNoClick()"
  >Cerrar</button>
</mat-dialog-actions>
