<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side" opened class="thw">
  
    <app-navbar [button]="drawer" [Is]="Is" (Ischange)="onMiVariableChange($event)"></app-navbar>
  
  </mat-drawer>
  <mat-drawer-content>
    <button *ngIf="Is" mat-fab (click)="drawer.toggle()" (click)="change()"
      color="primary" aria-label="Example icon button with a bookmark icon"
      class="float-start"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <button mat-fab (click)="favoritos()"
      color="warn" aria-label="Example icon button with a bookmark icon"
      class="float-end"
    >
      <mat-icon>favorite</mat-icon>
    </button>

    <div class="container pt-5">
      <h1 class="text-center">
        <mat-icon>draw</mat-icon>    
        Poetas
        <mat-icon>border_color</mat-icon>    
      </h1>
      <div class="row justify-content-center ">
        <div *ngIf="!data; else spinner" class="grd">
          <mat-spinner></mat-spinner>
        </div>

        <ng-template #spinner>
            <app-autores-tabla></app-autores-tabla>
        </ng-template>
        
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>